.footer{

padding:80px 24px;

background:var(--color-forest);

color:white;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

}

.footer h2{

font-family:var(--font-heading);

font-size:70px;

font-weight:500;

margin-bottom:15px;

}

.footer p{

font-family:var(--font-body);

opacity:.9;

margin-bottom:10px;

}

.footer span{

font-family:var(--font-body);

opacity:.65;

font-size:14px;

}